:root {
  /* --font-body: Arial, Helvetica, sans-serif; */
  /* --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif; */
  /* colors */
  /* Source: https://coolors.co/fffffa-0d5c63-ff686b-ffbf00-30292f */
  /* Source: https://coolors.co/74121d-0d5c63-ff686b-ffbf00-31e981 */
  /* Source: https://coolors.co/23022e-0d5c63-ff686b-ffbf00-31e981 */
  /* Source: https://coolors.co/6cd4ff-0d5c63-ff686b-ffbf00-31e981 */
  --primary-color: #0d5c63;
  --secondary-color: #ff686b;
  --tertiary-color: #ffbf00;
  --light-color: #fffffa;
  --dark-color: #30292f;
  
  --dark-purple: #23022e;
  --dark-red: #D8315B;
  --dark-yellow: #FE9000;
  --dark-blue: #1F01B9;
  --dark-green: #00A676;
  --mid-green: #3EC300;
  --mid-red: #FF0035;
  --mid-blue: #256EFF;
  --light-green: #31E981;
  --light-red: #FF1053;
  --light-yellow: #FAA916;
  --light-blue: #6cd4ff;


  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
  --xl-font: 1.4em;
  --xxl-font: 1.6em;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  /* font-family: var(--font-body); */
  font-size: var(--font-base);
  /* Bangers font */
  /* font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal; */
  /* Luckiest Guy */
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  color: var(--dark-color);
}

footer {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: var(--small-font);
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

#tradesBody, 
#skirmishBody {
  max-width: 640px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#main-h1 {
  opacity: 0;
}

form {
  display: none;
}

#winForm,
#lossForm {
  display: block;
}

/*  */
/* Skireball animations */
/*  */
body, html {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

#defaultBody { 
  padding: 1em;
  overflow: scroll;
}

#homeBody {
  overflow: hidden;
}

.top-slide, .bottom-slide {
  position: fixed;
  /* width: 100%; */
  /* height: 50%;  */

  width: 30vw;
  height: 16vw;
  left: 35%;
  transform: translateX(-50%);
  border: 6px solid black;

  z-index: 1;
}

.top-slide {
  top: -40vh;
  background-color: red;
  animation: slideDown 3s forwards;
  transform-origin: center bottom;
  border: 6px solid black;
  border-radius: 300px 300px 0 0;
  /* width: 50%; */
  /* height: 40%; */
  /* top: 15vh; */
  /* left: 25vw; */

  top: calc(0% - 15vw);
  border-radius: 15vw 15vw 0 0;
  /* text formatting */
  /* text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--tertiary-color);
  font-size: 5em;
  text-shadow: 2px 2px var(--light-color); */
}

.bottom-slide {
  background-color: white;
  bottom: 60vh;
  animation: slideUp 3s forwards;
  /* animation: rotate 1s 1s forwards; */
  transform-origin: center top;
  border: 6px solid black;
  border-radius: 0 0 300px 300px;
  /* box-shadow: 6px 6px 10px lightgray; */
  box-shadow: 2px 6px 12px var(--dark-color);
  /* width: 50%; */
  /* height: 40%; */
  /* left: 25vw; */
  /* bottom: 5vh; */

  height: 15vw;
  bottom: calc(100% - 15vw);
  border-radius: 0 0 15vw 15vw;
}

.center-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: black;
  border-radius: 50%; /* Make it a circle */
  /* Center the circle and start from scale 0 */
  transform: translate(-50%, -50%) scale(0); 
  animation: expandCircle 1s 1s forwards; /* Start after the previous animations */
  z-index: 2;
}

.gray-circle {
  background-color: gray;
  /* box-shadow: 2px 2px 4px darkgray; */
  max-width: 4vw;
  max-height: 4vw;
}

.white-circle {
  background-color: white;
  max-width: 3vw;
  max-height: 3vw;
  box-shadow: 2px 2px 4px darkslategray;
}

.title {
  top: 30%;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--tertiary-color);
  font-size: 5em;
  font-size: clamp(16px, 18vw, 5em);
  text-shadow: 2px 2px var(--dark-color);
}

@keyframes slideDown {
  0% {
    transform: translateY(0vh);
  }
  25% {
    transform: translateY(50vh);
  }
  50%, 100% {
    transform: translateY(50vh) rotate(360deg);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100vh);
  }
  25% {
    transform: translateY(50vh);
  }
  50%, 100% {
    transform: translateY(50vh) rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes expandCircle {
  0% {
    width: 0;
    height: 0;
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
  100% {
    width: 10vw; /* Adjust based on the screen size */
    height: 10vw; /* Make the circle's diameter 1/4th of the viewport width */
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes throwBall {
  to {
    transform: translateY(-100vh); 
  }
}

@keyframes popForm {
  0% {
    transform: scale(0.25);
    opacity: 0; /* Start from invisible */
  }
  50% {
    transform: scale(1.3);
    opacity: 1; /* Make it visible as it grows */
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

/*  */
/* End Skireball animations */
/*  */

/*  */
/* Image Banner Styles */

#imgBanner {
  /* position: relative; */
  width: 50vh;
  height: 50vw;
  margin: auto;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: end;
}

.mainSkireImg {
  position: absolute;
  width: 100%;
  height: auto;
  margin: auto;
  /* max-width: 70%; */
  max-height: 100%;
  object-fit: contain;
  z-index: 50;
}

.randomMoveAndFadeE {
  animation: randomMoveAndFadeE 6s linear forwards;
}

@keyframes randomMoveAndFadeE {
  0% { opacity: 0; transform: translate(0%); }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; transform: translate(25%); }
}

.randomMoveAndFadeW {
  animation: randomMoveAndFadeW 6s linear forwards;
}

@keyframes randomMoveAndFadeW {
  0% { opacity: 0; transform: translate(0%); }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; transform: translate(-25%); }
}

.randomMoveAndFadeSE {
  animation: randomMoveAndFadeSE 6s linear forwards;
}

@keyframes randomMoveAndFadeSE {
  0% { opacity: 0; transform: translate(0%, 0%); }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; transform: translate(25%, -25%); }
}

.randomMoveAndFadeNW {
  animation: randomMoveAndFadeNW 6s linear forwards;
}

@keyframes randomMoveAndFadeNW {
  0% { opacity: 0; transform: translate(0%, 0%); }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; transform: translate(-25%, 25%); }
}

.randomMoveAndFadeSW {
  animation: randomMoveAndFadeSW 6s linear forwards;
}

@keyframes randomMoveAndFadeSW {
  0% { opacity: 0; transform: translate(0%, 0%); }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; transform: translate(-25%, -25%); }
}

.randomMoveAndFadeNE {
  animation: randomMoveAndFadeNE 6s linear forwards;
}

@keyframes randomMoveAndFadeNE {
  0% { opacity: 0; transform: translate(0%, 0%); }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; transform: translate(25%, 25%); }
}

/* End Image Banner Styles */

/* Message styles */
@keyframes appear {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes disappear {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.messageSection {
  position: fixed;
  top: 50px;
  width: 100%;
  animation: appear 0.5s forwards;
}

.messageSection div {
  width: 80vw;
  max-width: 640px;
  margin: 1em auto;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  color: var(--light-color);
  background: var(--dark-color);
  box-shadow: 10px 6px 16px var(--dark-color);
  border-radius: 1em;
  animation: appear 0.5s forwards;
}

.message {
  padding: 0em .4em;
}

/* Modal styles */
.trainer-modal {
  position: relative;
  z-index: 1000;
}

.modal-fieldset {
  width: 80vw;
  max-width: 640px;
  margin: 2em auto;
  /* box-shadow: 10px 6px 16px lightgray; */
  border: 6px outset var(--tertiary-color);
  background: rgba(250, 250, 250, .8);
  border-radius: 24px;
  padding: 1em;
}

.modal-legend {
  font-size: var(--xl-font);
  background: var(--light-red);
  background: var(--dark-blue);
  background: var(--light-yellow);
  border-radius: 22px;
  color: var(--light-color);
  font-size: var(--large-font);
  padding: 1em .6em;
}

.trainer-input {
  display: block;
  width: 100%;
  /* max-width: 568px; */
  height: 2em;
  background: lightgray;
  border: 2px inset lightgray;
  border-radius: 8px;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: large;
  color: var(--dark-color);
}

.modal-btn {
  /* display: block; */
  /* margin: 1em; */
  margin: 1em .5em;
  padding: 1em 1.2em;
  border: none;
  border-radius: 22px;
  background: var(--primary-color);
  color: var(--light-color);
  font-weight: 900;
  box-shadow: 2px 2px 6px lightgray;
}

.another-btn {
  background: var(--dark-red);
}

.already-btn {
  background: var(--dark-yellow);
}

.ready-btn {
  background: var(--dark-green);
}

#lossAdvBtn, 
#winAdvBtn {
  background: var(--primary-color);
  display: block;
  margin: 1em auto;
  min-width: 16em;
}

#lossSavBtn, 
#winSavBtn, 
#playAgainBtn {
  display: block;
  margin: 1em auto;
  min-width: 16em;
}

#lossAdvBtn:hover, 
#winAdvBtn:hover,
.another-btn:hover, 
.already-btn:hover, 
.ready-btn:hover, 
.modal-btn:hover {
  background: var(--mid-blue);
  cursor: pointer;
}

#trainer-num {
  display: flex;
  justify-content: center;
}

#start-btn {
  margin: auto;
  box-shadow: none;
}

#trainer1Fieldset, 
#trainer2Fieldset, 
#login1Fieldset, 
#login2Fieldset, 
#start-btn {
  display: none;
}

/* SkireCard Styles */

.poke-card {
  position: relative;
  width: 64vw;
  min-width: 216px;
  max-width: 320px;
  margin: 2em auto;
  border: 5px outset var(--dark-green);
  border: 5px outset var(--light-blue);
  padding: 1em;
  border-radius: 32px;
  box-shadow: 2px 2px 8px gray;
}

.pokeImg {
  width: 100%;
}

.poke-name {
  color: var(--dark-red);
}

/* End SkireCard Styles */

/* Trade Page Styles */

.tradesMenuH1 {
  width: 100vw;
  max-width: 640px;
  color: var(--tertiary-color);
  text-shadow: 2px 2px var(--dark-color);
  font-weight: normal;
  /* margin-top: 64px; */
  margin: 0;
}

#tUl {
  display: flex;
  list-style: none;
  background: var(--mid-blue);
  /* justify-content: end; */
  padding: .4em 1em;
  margin: 0;
  align-items: end;
  position: fixed;
  width: 100vw;
  max-width: 640px;
  top: 0px;
  z-index: 100;
}

#tradesBack {
  position: fixed;
  bottom: 16px;
  right: -42px;
  background: var(--mid-green);
  text-shadow: 2px 2px var(--dark-color);
  box-shadow: 4px 4px 10px var(--dark-color);
  z-index: 100;
}

#tCoinIcon {
  width: 32px;
  height: 32px;
  background: var(--tertiary-color);
  border-radius: 50%;
  box-shadow: 2px 2px var(--light-yellow);
  color: var(--dark-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}

#tCoins {
  font-size: 22px;
  padding: 0 .6em 0 .4em;
  color: var(--light-color);
  text-shadow: 2px 2px var(--dark-color);
}

#tCost {
  padding: 0 .6em 0 .4em;
  padding: 0 .6em;
  color: var(--mid-red);
  text-shadow: 1px 1px var(--dark-color);
  /* border-radius: 50%;
  background: whitesmoke; */
}

.shineCoin {
  animation: shineCoin 0.8s ease forwards;
}

@keyframes shineCoin {
  0% {
    background: var(--tertiary-color);
    box-shadow: 2px 2px var(--light-yellow);
    color: var(--dark-yellow);
  }
  50% {
    color: navajowhite;
    background: floralwhite;
    box-shadow: 2px 2px navajowhite;
  }
  100% {
    background: var(--tertiary-color);
    box-shadow: 2px 2px var(--light-yellow);
    color: var(--dark-yellow);
  }
}

.skireCostDiv {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  top: -8px;
}

.skireCostCoin {
  width: 16px;
  height: 16px;
  font-size: 10px;
  background: var(--tertiary-color);
  border-radius: 50%;
  box-shadow: 2px 2px var(--light-yellow);
  color: var(--dark-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.skireCostValue {
  margin: 0 .4em;
}

.skireAtkStats,
.skireDefStats {
  width: 48%;
  display: inline-block;
  text-align: end;
  margin: 4px 2px;
  padding: 0 4px;
  /* background: var(--tertiary-color); */
  /* border: 4px outset var(--light-yellow); */
  /* border: 4px inset lightgray; */
  border: 4px outset;
}
 
/* .skireDefStats {
  background: var(--dark-color);
  padding: 0 4px;
  border: 4px outset var(--dark-color);
  color: var(--light-color);
} */

.buySkireCard {
  position: absolute;
  top: -8px;
  left: -8px;
  height: 104%;
  width: 108%;
  opacity: 0;
  border: none;
  border-radius: 32px;
}

.boughtCard {
  opacity: 0.8;
  background: var(--primary-color);
  color: var(--tertiary-color);
  font-family: inherit;
  font-size: xx-large;
}

.shopkeeper {
  max-width: 100%;
  margin-top: 46px;
}

/* End Trade Page Styles */

/* Skirmish Match Styles */

#skirmishMain {
  margin: 1em;
}

.skireSec {
  border: 8px inset var(--light-blue);
  background: var(--light-color);
  border-radius: 24px;
  padding: .6rem;
  max-width: 364px;
  max-width: 258px;
  box-shadow: 4px 4px 10px lightgray;
  z-index: 100;
}

.popSec {
  animation: popForm 0.5s forwards;
}

#matchh1 {
  color: var(--tertiary-color);
  text-shadow: 2px 2px var(--dark-color);
  z-index: 100;
}

#matchh1,
#matchh2 {
  margin: 0;
}

#matchSec {
  transform: rotate(-5deg);
  color: var(--light-color);
  background: var(--dark-purple);
  border: .4em outset var(--light-color);
  box-shadow: 2px 2px 8px black;
  margin: 1.2rem 0;
  padding: .4rem;
  z-index: -1;
}

#matchScore {
  margin-bottom: 0;
}

#matchVs {
  margin: 0;
  max-width: 246px;
  margin: auto;
}

#matchh2, 
#matchScore, 
#matchVs {
  font-weight: normal;
}

@keyframes hzAttackRight {
  0%, 100% {
    transform: translateX(0);
  }
  25%, 75% {
    transform: translateX(7%); 
  }
  50% {
    transform: translateX(3%); 
  }
}

@keyframes hzAttackLeft {
  0%, 100% {
    transform: translateX(0);
  }
  25%, 75% {
    transform: translateX(-7%); 
  }
  50% {
    transform: translateX(-3%); 
  }
}

.rightAtk {
  animation: hzAttackRight 540ms ease forwards;
}

.leftAtk {
  animation: hzAttackLeft 540ms ease forwards;
}

@keyframes vertAttackDown {
  0%, 100% {
    transform: translateY(0);
  }
  25%, 75% {
    transform: translateY(-7%); 
  }
  50% {
    transform: translateY(-3%); 
  }
}

.downAtk {
  animation: vertAttackDown 540ms ease forwards;
}

@keyframes vertAttackUp {
  0%, 100% {
    transform: translateY(0);
  }
  25%, 75% {
    transform: translateY(7%); 
  }
  50% {
    transform: translateY(3%); 
  }
}

.upAtk {
  animation: vertAttackUp 540ms ease forwards;
}

@keyframes displayDmg {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(24px); 
    opacity: 0;
  }
}

.showDmg {
  animation: displayDmg 1.4s ease forwards;
}

.container {
  position: relative;
  /* Ensure the container has a defined size */
  width: 100%;
  height: 100%;
}

.fainted {
  position: absolute;
  transform: translate(0%, 360%) rotate(12deg);
  color: var(--dark-color);
  background-color: var(--dark-green);
  padding: .4rem 1rem;
  box-shadow: 2px 2px 6px var(--dark-color);
  font-size: 26px;
  margin-top: -5rem;
  text-align: center;
  font-size: 18px;  
  animation: showFaint 0.5s ease forwards;
}

@keyframes showFaint {
  0% {
    transform: translate(0%, 360%) rotate(12deg) scale(0.25);
    display: none; 
  }
  50% {
    transform: translate(0%, 360%) rotate(12deg) scale(1.3);
    display: block; 
  }
  75% {
    transform: translate(0%, 360%) rotate(12deg) scale(0.9);
  }
  100% {
    transform: translate(0%, 360%) rotate(12deg) scale(1);
  }
}

.skireDivTop {
  display: flex;
  justify-content: space-evenly;
}

.skireTopType {
  /* background: var(--light-blue); */
  /* border: 3px outset var(--light-blue); */
  padding: 0 .2em;
  align-content: end;
  text-align: center;
  min-width: 53px;
  margin: 0 .1rem;
  height: 15.6px;
  font-size: 10px;
  margin-top: 2px;
}

.skireId,
.skireLevel {
  margin: 0;
  font-size: medium;
  font-size: 13px;
}

.skirePic {
  display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 196px;
    overflow: hidden;
}

.skireImg {
  /* width: 58%; */
  margin: auto;
  padding-top: .2rem;
  padding-top: .2rem;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: auto;
}

.skireName {
  font-size: xx-large;
  text-align: center;
  margin: 0;
  font-size: 24px;
}

.skireRecord {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  height: 2em;
  height: 12.6px;
  font-size: 14px;
  display: none;
}

/* .skireType, */
.skireStrength,
.skireWeakness {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: small;
  font-size: 10px;
}

/* .skireType li, */
.skireStrength li,
.skireWeakness li {
  height: 2em;
  /* background: var(--light-blue); */
  /* border: 3px outset var(--light-blue); */
  padding: .1rem;
  align-content: center;
  text-align: center;
  min-width: 53px;
  margin: .1rem 0;
  height: 15.6px;
}

.skireAtkBtn, 
.skireSpAtkBtn, 
#skireAtkBtn, 
#skireSpAtkBtn {
  padding: 1em 1.2em;
  border: none;
  border-radius: 22px;
  font-family: "Luckiest Guy", cursive;
  font-style: normal;
  color: var(--dark-color);
  font-size: 18px;
  box-shadow: 2px 2px 6px lightgray;
  width: 49%;
  /* display: inline; */
  /* height: 64px; */
  margin: auto;
  background: var(--light-yellow);
}

.skireAtkBtn:hover, 
.skireSpAtkBtn:hover, 
#skireAtkBtn:hover, 
#skireSpAtkBtn:hover {
  background: var(--mid-blue);
}

.skireAtkBtn {
  margin-right: 2px;
}

.skireSpAtkBtn {
  margin-left: 2px;
}

.skireHeaders {
  display: inline;
  font-size: medium;
  margin: 0;
  align-self: center;
  font-size: 12.4px;
}

/* Type color source: https://bulbapedia.bulbagarden.net/wiki/Type */
.normal {
  background: #9FA19F;
  border: 3px outset #9FA19F;
}

.fire {
  background: #E62829;
  border: 3px outset #E62829;
}

.fighting {
  background: #FF8000;
  border: 3px outset #FF8000;
}

.water {
  background: #2980EF;
  border: 3px outset #2980EF;
}

.flying {
  background: #81B9EF;
  border: 3px outset #81B9EF;
}

.grass {
  background: #3FA129;
  border: 3px outset #3FA129;
}

.poison {
  background: #9141CB;
  border: 3px outset #9141CB;
}

.electric {
  background: #FAC000;
  border: 3px outset #FAC000;
}

.ground {
  background: #915121;
  border: 3px outset #915121;
}

.psychic {
  background: #EF4179;
  border: 3px outset #EF4179;
}

.rock {
  background: #AFA981;
  border: 3px outset #AFA981;
}

.ice {
  background: #3DCEF3;
  border: 3px outset #3DCEF3;
}

.bug {
  background: #91A119;
  border: 3px outset #91A119;
}

.dragon {
  background: #5060E1;
  border: 3px outset #5060E1;
}

.ghost {
  background: #704170;
  border: 3px outset #704170;
}

.dark {
  background: #624D4E;
  border: 3px outset #624D4E;
}

.steel {
  background: #60A1B8;
  border: 3px outset #60A1B8;
}

.fairy {
  background: #EF70EF;
  border: 3px outset #EF70EF;
}

.stellar {
  background: #44628D;
  border: 3px outset #44628D;
}

.question {
  background: #68A090;
  border: 3px outset #68A090;
}

.skireLife {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.skireHp,
.skireDmg, 
.skireSpd {
  margin: 0;
}

.skireDmg {
  margin-left: -20px;
  /* display: none; */
}

.skireSpan {
  font-size: xx-large;
  padding: 0 0.2rem;
  font-size: 25px;
}

.skireSpanStats {
  font-size: 16px;
}

.spanHp, 
#spanHp {
  font-size: 3rem;
  font-size: 32px;
}

.skireDmg span {
  color: var(--mid-red);
}

.skireAtkTypes,
.skireDefTypes {
  width: 46%;
  display: inline-block;
  text-align: end;
  display: none;
}

.skireAtk,
.skireSpAtk,
.skireDef,
.skireSpDef {
  margin: 0;
}

#vsh2 {
  text-align: center;
  margin: 1rem;
  max-width: 226px;
  background: var(--dark-red);
  border-radius: 50%;
}

/* End Skirmish Match Styles */

/* SkireCard Results Styles */
.h1,
.winner, 
.loser {
  width: 80vw;
  max-width: 640px;
  margin: auto;
}

.skirelist {
  list-style: none;
  padding: 0;
}

.skire {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  max-width: 640px;
  border: 6px outset var(--light-blue);
  border-radius: 24px;
  padding: 1rem 6px;
  margin: 1rem 0;
  font-size: clamp(16px, 12vw, 3em);
}

.skirel {
  border: 6px outset var(--secondary-color);
}

.winImg,
.lossImg {
  max-width: 80px;
}

.regDiv {
  display: none;
  animation: popForm 0.5s forwards;
}

.regThanks {
  text-align: center;
  width: 80vw;
  max-width: 640px;
  margin: 2em auto;
  box-shadow: 10px 6px 16px lightgray;
  border: 6px outset var(--tertiary-color);
  border-radius: 24px;
  padding: 2em .2em;
}

/* End SkireCard Results Styles */

/* End of modal styles */
@media (min-width: 300px) {
  .secwin,
  .secloss {
    width: 80vw;
    max-width: 640px;
    margin: auto;
  }
}

@media (min-width: 720px) {
  #skirmishMain {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    margin: auto;
    align-items: center;
    justify-items: end;
  }

  #matchh1 {
    grid-row: 1;
    grid-column: 1 / 4;
    justify-self: center;
    font-size: 4em;
    /* z-index: 100; */
  }

  #matchSec {
    grid-row: 2;
    grid-column: 1 / 4;
    justify-self: center;
    margin: 0;
    padding: .4rem 2rem;
  }

  #t1Sec {
    grid-row: 3;
    grid-column: 1;
  }

  #vsSec {
    grid-row: 3;
    grid-column: 2;
    background: var(--dark-red);
    border-radius: 50%;
    z-index: 200;
  }

  #t2Sec {
    grid-row: 3;
    grid-column: 3;
  }

  .skireTypes,
  .skireCardTypes {
    min-height: 80px;
  }
}

@media (max-width: 775px) {
  .modal-btn {
    display: block; 
    margin: 1em auto;
    min-width: 16em;
  }
}

@media (max-width: 720px) {
  .skireTypes {
    display: none;
  }
  
  .skireAtkBtn, 
  .skireSpAtkBtn, 
  #skireAtkBtn, 
  #skireSpAtkBtn {
    padding: .6em .8em;
    font-size: 14px;
    width: 49%;
  }

  .skirePic {
    height: 96px;
  }

  .skireName,
  .spanHp,
  .skireSpan {
    font-size: 21px;
  }

  .skireSpanStats {
    font-size: 12px;
  }
}

@media (min-width: 720px) {
  .skireSec {
    min-width: 302px;
  }
}